<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        body {
            background-color: #333333;
            color: #ff9999;
        }

        h1{
            color: #ff0066 !important;
        }
        .navbar-brand {
            color: #ff0066 !important;
        }

            .navbar-brand:visited {
                color: #ff0066 !important;
            }

        .navbar-default-color {
            color: #ff0066 !important;
        }

        .navbar-inverse {
            color: #ff0066 !important;
        }

        .navbar-brand:hover{
            color: #FFFFFF !important;
        }

        .btn-lg{
            color: white !important;
            background: #ff0066 !important;
        }

        .jumbotron{
            background: #99003d !important;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("ReactSong", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a href="@Url.Action("Index", "Home")" class = "navbar-brand">
                    ReactSong
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("React to a Song!", "React", "Music")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Dr. Robert Schindler</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
